In [1]:
import pandas as pd

train_data = pd.read_csv(r"D:\Projects\titanic\train.csv")
test_data = pd.read_csv(r"D:\Projects\titanic\test.csv")

women = train_data.loc[(train_data.Sex == 'female') & (train_data.Survived == 0)]
rate_women = len(women) / len(train_data[train_data.Sex == 'female']) 
print(len(women))
print("% of women who did not survive:", rate_women * 100)

men = train_data.loc[(train_data.Sex == 'male') & (train_data.Survived == 0)]   
rate_men = len(men) / len(train_data[train_data.Sex == 'male']) 
print(len(men))
print("% of men who did not survive:", rate_men * 100)

for i in range(1, 4):
    total = train_data.loc[(train_data.Pclass == i) & (train_data.Survived == 0)]
    rate_total = len(total) / len(train_data[train_data.Pclass == i])
    print(f"Total people {len(total)} in {i} Class:")
    print(f"% of total who did not survived in {i} Class:", rate_total * 100)
all = train_data.loc[(train_data.Survived == 0)]
print(len(all))

81
% of women who did not survive: 25.796178343949045
468
% of men who did not survive: 81.10918544194108
Total people 80 in 1 Class:
% of total who did not survived in 1 Class: 37.03703703703704
Total people 97 in 2 Class:
% of total who did not survived in 2 Class: 52.71739130434783
Total people 372 in 3 Class:
% of total who did not survived in 3 Class: 75.76374745417516
549

In [4]:
from sklearn.ensemble import RandomForestClassifier

train_data = pd.read_csv(r"D:\Projects\titanic\train.csv")
test_data = pd.read_csv(r"D:\Projects\titanic\test.csv")

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch","Fare", "Embarked", "Age"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=1000, max_depth=5, random_state=0)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [5]:
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [141]:
output.to_csv(r"D:\Projects\titanic\predictions.csv", index=False)

In [16]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, cross_val_score
import pandas as pd

# Завантаження даних
train_data = pd.read_csv(r"D:\Projects\titanic\train.csv")
test_data = pd.read_csv(r"D:\Projects\titanic\test.csv")

# Цільова змінна
y = train_data["Survived"]

# Вибрані ознаки
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

# Поділ даних на навчальну та тестову вибірки
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=0)

# Ініціалізація моделей
models = {
    "Logistic Regression": LogisticRegression(max_iter=2000, random_state=0),
    "Random Forest": RandomForestClassifier(n_estimators=1000, max_depth=10, random_state=0),
    "Gradient Boosting": GradientBoostingClassifier(n_estimators=1000, max_depth=10, random_state=0),
    "Support Vector Machine": SVC(kernel='linear', random_state=0)
}

# Оцінка моделей
for name, model in models.items():
    model.fit(X_train, y_train)
    score = model.score(X_val, y_val)
    print(f"{name}: {score:.4f}")

Logistic Regression: 0.7932
Random Forest: 0.7864
Gradient Boosting: 0.7627
Support Vector Machine: 0.7831

In [4]:
test_data = pd.read_csv(r"D:\Projects\titanic\train.csv")
test_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S